@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		padding-top: 4em;
	}

	#header {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		background: #fff;
		cursor: default;
		height: 4em;
		left: 0;
		line-height: 4em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
		text-align: center;
	}

#header .logo {
			color: #f6755e;
			font-family: "Pacifico", cursive;
			font-size: 1.5em;
			letter-spacing: 2px;
			margin-top: -5px;
			text-decoration: none;
			display: inline-block;
		}

@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header .logo {
				font-size: 1.25em;
				text-align: center;
			}

			#header nav a[href="#menu"] {
				font-size: 1.5em;
			}

			#header nav.left {
				left: 1em;
			}

			#header nav.right {
				display: none;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

#header nav {
			position: absolute;
			top: 0;
			height: inherit;
			line-height: inherit;
		}

			#header nav.right {
				right: 2em;
			}

			#header nav .button {
				padding: 0 2em;
				height: 3.25em;
				line-height: 3.25em;
			}

.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #f6755e;
		border-radius: 4px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat", sans-serif;
		height: 2em;
		line-height: 2em;
		padding: 0 3.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
	}

.button:hover {
			background-color: #f78a76;
		}

		.button:active {
			background-color: #f56046;
		}

.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #dee1e3;
			color: #727a82 !important;
		}

			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

#banner {
		padding: 14em 0 12em 0;
		background-image: url(../images/banner.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		text-align: center;
	}

		#banner .content {
			-moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
			-ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
			transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
			opacity: 1;
		}

		#banner h1 {
			font-size: 3em;
			color: #25a2c3;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1.25em;
			margin-bottom: 1.75em;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 12em 0 10em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 8em 6em 6em 6em;
			}

				#banner br {
					display: none;
				}

				#banner h1 {
					font-size: 2.25em;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 6em 4em 4em 4em;
			}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 2em 2em 2em;
			}

				#banner h1 {
					font-size: 2em;
				}

				#banner p {
					font-size: 1em;
				}

				#banner .button {
					font-size: .9em;
				}

		}

		body.is-loading #banner .content {
			opacity: 0;
			-moz-transform: translateY(1em);
			-webkit-transform: translateY(1em);
			-ms-transform: translateY(1em);
			transform: translateY(1em);
		}

body, input, select, textarea {
		color: #767d85;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		padding-top: 4em;
	}

	#header {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		background: #fff;
		cursor: default;
		height: 4em;
		left: 0;
		line-height: 4em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
		text-align: center;
	}

#header .logo {
			color: #f6755e;
			font-family: "Pacifico", cursive;
			font-size: 1.5em;
			letter-spacing: 2px;
			margin-top: -5px;
			text-decoration: none;
			display: inline-block;
		}

@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header .logo {
				font-size: 1.25em;
				text-align: center;
			}

			#header nav a[href="#menu"] {
				font-size: 1.5em;
			}

			#header nav.left {
				left: 1em;
			}

			#header nav.right {
				display: none;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

#header nav {
			position: absolute;
			top: 0;
			height: inherit;
			line-height: inherit;
		}

			#header nav.right {
				right: 2em;
			}

			#header nav .button {
				padding: 0 2em;
				height: 3.25em;
				line-height: 3.25em;
			}

.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #f6755e;
		border-radius: 4px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat", sans-serif;
		height: 2em;
		line-height: 2em;
		padding: 0 3.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
	}

.button:hover {
			background-color: #f78a76;
		}

		.button:active {
			background-color: #f56046;
		}

.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 1px #dee1e3;
			color: #727a82 !important;
		}

			.button.alt:hover {
				background-color: rgba(144, 144, 144, 0.075);
			}

			.button.alt:active {
				background-color: rgba(144, 144, 144, 0.2);
			}

#banner {
		padding: 14em 0 12em 0;
		background-image: url(../images/banner.jpg);
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		text-align: center;
	}

		#banner .content {
			-moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
			-ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
			transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
			opacity: 1;
		}

		#banner h1 {
			font-size: 3em;
			color: #25a2c3;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1.25em;
			margin-bottom: 1.75em;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 12em 0 10em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 8em 6em 6em 6em;
			}

				#banner br {
					display: none;
				}

				#banner h1 {
					font-size: 2.25em;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 6em 4em 4em 4em;
			}

		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 2em 2em 2em;
			}

				#banner h1 {
					font-size: 2em;
				}

				#banner p {
					font-size: 1em;
				}

				#banner .button {
					font-size: .9em;
				}

		}

		body.is-loading #banner .content {
			opacity: 0;
			-moz-transform: translateY(1em);
			-webkit-transform: translateY(1em);
			-ms-transform: translateY(1em);
			transform: translateY(1em);
		}

body, input, select, textarea {
		color: #767d85;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}






.slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }


		@media screen and (max-width: 736px) {

			.slider {
        width: 75%;
        margin: 100px auto;
    }


		}

		@media screen and (max-width: 480px) {

		.slider {
        width: 75%;
        margin: 100px auto;
    }


		}


.downsteps img {
        width: 50%;
     margin: 50px auto;
    }



		@media screen and (max-width: 736px) {

			.downsteps img {
        width: 100%;
       margin: 50px auto;
    }

		}

		@media screen and (max-width: 480px) {
.downsteps img {
        width: 100%;
        margin: 50px auto;
    }
		}











.downstep {
display: inline-flex;
    }

.downstep img {
     width: 100%;
padding: 1em;

}

.downstep figure {
    display: inline-block;padding: 1em 2em 1em 2em;
}

.downstep figcaption span::before {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
}

.downstep figcaption h2 {
   margin:1em 0 0 0;font-size:1.8em;color:#333;text-align:center;
}

.downstep figcaption span {
   position: relative;
    display: block;
    margin: 1em 0 0 0;
    padding: 1em 0 0 0;
    font-size: 1.0em;
    line-height: 30px;
    color: #333;
    text-align: center;
}

		@media screen and (max-width: 736px) {

			.downstep {
        display:block;
    }

		}

		@media screen and (max-width: 480px) {
.downstep {
      display:block;
    }

		}





